<html>
    <head>
         <link href="/web/project1/{{VERSION}}/css/application.css" rel="stylesheet"/>         
    </head>
    <body>
        
        <h2>Hello World from project1 with version {{VERSION}}</h2>
        <div class="box"></div>
        <br/><hr/>
        <button onclick="clickme()">click me </button>
        <script type="text/javascript" src="/web/project1/{{VERSION}}/js/application.js"></script>        
    </body>
</html>