<table class="table table-striped">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>stream</th>
    </tr>
    </thead>
    <tbody>
    {{#each students}}
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{stream}}</td>
    </tr>
    {{/each}}
    </tbody>

</table>