<table class="table table-striped">
    <thead>
        <tr>
            <th>name</th>
            <th>designation</th>
        </tr>
    </thead>
    <tbody>
            {{#.}}
            <tr>
                <td>{{name}}</td>
                <td>{{desig}}</td>
            </tr>
            {{/.}}
    </tbody>
</table>