<h1>
  {{title}}
</h1>

<table border="1px">
  <tbody>
    <tr>
        <td>
          angular indetails tutorials
        </td>
        <td>
          https://angular.io/docs/ts/latest/guide/ , 
          https://github.com/angular/angular-cli
        </td>
    </tr>
    <tr>
      <td>(6) first component </td>
      <td>
        <app-tutorial6>app-tutorial6 loading...</app-tutorial6>
      </td>
    </tr>
    <tr>
      <td>(7) styling component </td>
      <td>
        <app-tutorial7>loading..</app-tutorial7>
      </td>
    </tr>
    <tr>
      <td>(8) interpolation and property data binding </td>
      <td>
        <app-tutorial8>loading..</app-tutorial8>
      </td>
    </tr>
    <tr>
      <td>(9) class and style binding </td>
      <td>
        <app-tutorial9>loading...</app-tutorial9>
      </td>
    </tr>
    <tr>
      <td>(10) event binding and references</td>
      <td>
        <app-tutorial10>loading</app-tutorial10>
      </td>
    </tr>
    <tr>
      <td>(11) two way data binding</td>
      <td>
        <app-tutorial11>loading</app-tutorial11>
      </td>
    </tr>
    <tr>
      <td>(12) structural directives (dom manipulation)
        ngIf,ngSwitch, ngSwitchCase and ngSwitchDefault,ngFor
      </td>
      <td>
        <app-tutorial12>loading</app-tutorial12>
      </td>
    </tr>
    <tr>
      <td>(13) Attribute Directives ngClass</td>
      <td>
          <app-tutorial13>loading</app-tutorial13>
      </td>
    </tr>
    <tr>
      <td>(14) Input and Output / or pass value from component to component</td>
      <td>
        <app-tutorial14>loading</app-tutorial14>
      </td>
    </tr>
    <tr>
      <td>(15) magic with pipes and pre-build directives</td>
      <td>
        <app-tutorial15>loading</app-tutorial15>
      </td>
    </tr>
    <tr>
      <td>(16)final release template</td>
      <td>

      </td>
    </tr>
    <tr>
      <td>17. Template driven forms with ngModel, ngModelGroup, ngSubmit</td>
      <td>
        <app-tutorial17>Loading...</app-tutorial17>
      </td>
    </tr>
    <tr>
      <td>18 . TDF Validation with ng-untouched ,ng-pristine ,ng-invalid etc.. with required(html5 prop), minlength, pattern</td>
      <td>
         <app-tutorial18>Loading...</app-tutorial18>       
      </td>
    </tr>
    <tr>
      <td>19. Submiting valid forms</td>
      <td>
        see the example 18
      </td>
    </tr>
    <tr>
      <td>20. Model driven forms</td>
      <td>

      </td>
    </tr>
    <tr>
      <td>21. MDF validation and formbuilder</td>
      <td>

      </td>
    </tr>

    <tr>
      <td>22. Service</td>
      <td>

      </td>
    </tr>
    <tr>
      <td>23. Dependency Injection</td>
      <td>

      </td>
    </tr>
    <tr>
      <td>24. Using a service</td>
      <td>

      </td>
    </tr>
    <tr>
      <td>25. Http and Observable</td>
      <td>

      </td>
    </tr>
    <tr>
      <td>26. Fetch data using http</td>
      <td>

      </td>
    </tr>
    <tr>
      <td>21. Http Error handling</td>
      <td>

      </td>
    </tr>
  </tbody>
  
</table>