{{> common/heading}}

<h2>Body goes here</h2>
<div class="row">
    <div id="col-1" class="col-xs-4"></div>
    <div id="col-2" class="col-xs-4"></div>
</div>

<div class="row">
    <div id="col-3" class="col-xs-4"></div>
    <div id="col-4" class="col-xs-4"></div>
</div>
